.crs-capture-btn {
    position: relative;
    color: #FFFFFF;
    width: 32px;
    height: 32px;
}

.crs-capture-btn .tooltip {
    display: none;
}
.crs-capture-btn:hover .tooltip {
    display: block !important;
}