:root {
    --main-color: #FFFFFF;
}

body {
    margin: 0;
    background-color: var(--main-color);
    color: #000000;
}

#root {
    min-width: 18rem;
    padding: 1.5rem;
}

hr {
    opacity: 0.5;
    width: 100%;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow:
        0 1px 1px rgba(0, 0, 0, 0.2),
        0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

.app {
    display: flex;
    margin: 0 auto;
    background-color: var(--main-color);
    flex-direction: column;
    align-items: center;
}

.app-name {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1.5rem;
}

.main {
    display: flex;
    margin-top: 3rem;
    background-color: var(--main-color);
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.form-group {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.config-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.config-item p {
    margin: 0;
}

.config-item>.item-title {
    font-size: 14px;
}

.config-item>.item-desc {
    color: #5F5F5F;
}

.footer {
    color: #5F5F5F;
    text-align: center;
    margin-top: 5em;
}